:root {
  --text: #ebeaee;
  --background-1: #150e1a;
  --background-2: #0b0915;
  --background-3: #131121;
  --background-4: #100d21;
  --text-2: #808080;
  --text-1: #ffffff;
  --pop-1: #6e2594;
  --pop-1-light: #975eb6;
  --pop-2: #e3d87e;
}
html * {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-1);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--background-1);
  display: flex;
  justify-content: center;
}

.settings-container {
  outline: red solid 1px;
  margin-right: 0px;
  background-color: var(--pop-1);
  display: flex;
  justify-items: left;
  align-items: left;
  flex-direction: column;
}

.container {
  margin-top: 100px;
  min-height: 700px;
  min-width: 1200px;
  background-color: var(--background-2);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 15px;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12%;
  padding-top: 10px;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
}
.tasks-container {
  margin: 50px;
  border-radius: 15px;
  background-color: var(--background-3);
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button.task-submit-button {
  background-color: var(--pop-1);
  border: none;
  color: var(--text-1);
  padding: 16px 32px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 0px 15px 15px 0px;
}
input.task-text-form {
  border-radius: 15px 0px 0px 15px;
  width: 450px;
  height: 50px;
  font-size: 16px;
  color: #131121;
}
ul.task-list {
  display: list-item;
  text-align: center;
  width: 75%;
  height: 100%;
  list-style: none;
  padding: 0 75px 0 0;
  margin: 0;
  /*list-style-image: url("images/fish.PNG");*/
}
li.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin: 10px;
  padding: 0 25px;
  border-radius: 15px;
  background-color: var(--background-4);
}

.task-text {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 100%;
  font-size: 16px;
  color: var(--text-1);
  text-align: left;
  text-decoration: none;
  border-style: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.task-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100%;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--pop-1-light);
}

h1 {
  margin: auto;
  text-align: center;
}

.task-check {
  width: 25px;
  height: 25px;
}

.fa-solid {
  transition-duration: 0.4s;
}
.fa-trash {
  margin-top: 10px;
  color: var(--text-1);
  height: 15px;
  width: 15px;
}

.fa-trash:hover {
  color: red;
}

.fa-pen:hover {
  color: var(--pop-2);
}

.fa-floppy-disk:hover {
  color: var(--pop-2);
}
.edit-input {
  color: black;
}
.done p {
  text-decoration: line-through;
  color: var(--text-2);
}
